<?xml version="1.0" encoding="UTF-8"?>

<!--
from https://github.com/spring-projects/spring-boot/blob/master/spring-boot-samples/spring-boot-sample-web-ui/src/main/resources/logback.xml
-->

<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.apache.http.impl.execchain.MainClientExec" level="DEBUG"/>

</configuration>